.btn {
    -webkit-appearance: none;
    display: inline-block;
    background-color: #ffffff;
    @include rem(padding, 15px);
    @include rem(margin, 10px 0);
    @include rem(border-radius, 25px);
    border: none;
    color: $color1;
    @include rem(font-size, 16px);
    font-weight: bold;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, 0.15);
    outline: 0;

    &.is-ghost {
        background-color: transparent;
        box-shadow: none;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    &.is-block{
        display: block;
        width: 100%;
    }

    &[disabled] {
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.15);
    }

    &:hover:not([disabled]):not(.is-ghost) {
        cursor: pointer;
        background-color: $color1;
        color: #ffffff;
    }
}

.btn-icon {
    -webkit-appearance: none;
    display: block;
    @include rem(width, 80px);
    @include rem(height, 80px);
    @include rem(padding, 15px);
    @include rem(margin, 10px auto);
    border-radius: 100%;
    text-align: center;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1.5rem 2rem 0 rgba(0, 0, 0, 0.25);
    border: solid 5px #ffffff;
    border: solid .5rem #ffffff;
    transition: all .25s ease;
    outline: 0;
    cursor: pointer;

    &.is-yellow {
        background-color: $color1;
    }

    &.is-red {
        background-color: $color2;
    }

    &.is-green {
        background-color: $color3;
    }

    &.is-blue {
        background-color: $color4;
    }

    &:disabled,
    &:disabled:hover {
        opacity: 0.25;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.15);
        cursor: not-allowed;
    }

    &:hover {
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, 0.15);
    }

    &:active {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.15);
    }

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: #ffffff;
        }
    }
}

.btn-group {
    .btn{
        @include rem(margin, 10px 5px);
    }
    .btn-icon {
        display: inline-block;
        @include rem(margin, 10px 15px);
    }
}