$color1: rgba(244, 160, 0, 1);  // yellow
$color2: rgba(219, 68, 55, 1);  // red
$color3: rgba(15, 157, 88, 1);  // green
$color4: rgba(66, 133, 244, 1); // blue

$fontMain: 'Avenir', Helvetica, Arial, sans-serif;